/* Tailwind base, componentes y utilidades */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de tema */
:root {
  /* 🌿 PRIMARY */
  --color-primary: #16A34A;
  --color-primary-hover: #15803D;
  --color-primary-light: #DCFCE7;
  --color-primary-dark: #052E16;

  /* ⚫ BASE */
  --background: #ffffff;
  --foreground: #111827;

  /* 🧾 TEXTOS */
  --color-text: #111827;
  --color-text-light: #6B7280;
  --color-text-inverse: #ffffff;

  /* 🟢 ACCENTOS */
  --color-accent: #22C55E;

  /* 🔴 ESTADOS */
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
  --color-success: #16A34A;

  --color-border: #E5E7EB;
  
  /* DASHBOARD */
  --bg-main: #050807; 
  --bg-secondary: #0b1210; 

  --bg-tertiary: #101915;
  --bg-overlay: rgba(0,0,0,0.7);

  --bg-card: #0e1412;        /* fondo de tarjetas */
  --bg-card-hover: #101915;  /* hover */
  --border-card: #1e261b;    /* borde */

  --text-primary: #ffffff;   /* texto grande */
  --text-secondary: #c4c7c4; /* texto pequeño */
}

/* 🌙 DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #F9FAFB;

    --color-text: #13291e;
    --color-text-light: #9CA3AF;

    --color-border: #1F2933;

    /* opcional: ajustar verde en dark */
    --color-primary: #22C55E;
    --color-primary-hover: #16A34A;
  }
}

/* Estilos base */
@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-bounce-slow {
  animation: bounce-slow 4s ease-in-out infinite;
}